nav{
    display: flex;
    flex-direction: row;
}
            body{
                margin: 0;
                padding: 0;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #535353;
                display: grid;
                display: grid;
                grid-template-columns: 13%;
                grid-template-rows: 2rem 100vh;
            }
            article{
                display: flex;
                flex-direction: column;
                height: 100vh;
                padding: 0.5em 1em;
                box-shadow: 0.5em -1em 1em rgba(72, 72, 72, 0.5);
                position: sticky;
                background-color: rgb(30, 30, 26);
                color: #d9e0e7;
            }
            #logo{
                border-radius: 10em;
                border: 0.3em double #618a97;
                border-radius: 3em;
                height: 4em;
                width: 10em;
                text-align: center;
                color:#2077ba;
                position: relative; 
                /*top: 0.2em; 
                /*margin-left: 0.5em;*/
            }
            #logo p{
                text-align: center;
            }            
            #submitbtn{
                color: #f9fbf9;
                font-weight: bold;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
                background-color: #0c7fda;
                border: #9ca3a9;
                margin: 10em 0;
            }
            #submitbtn:hover
            {
                background-color: #43a2f0;
                cursor: pointer;
            }
            submit:focus{
                outline: none;
                border-color: #0c7fda;
            }
            submit:active{
                background: red;
            }
            #discription{
                height: 10em;
                border-radius: 0.5em;
                border-style: solid;
            }
            #postDiv{
                display: flex;
                flex-direction: column;
            }
            #postForm{
                display: flex;
                flex-direction: column;
            }
            .formGroup{
                display: flex;
                flex-direction: column;
                /*justify-content: flex-end;*/
                margin: 0.5rem;
                padding-top: 1em;
            }
            label {
                display: inline-block;
                width: 6em;
                margin-bottom: 0.7em;
            }
            input {
                padding: 0.7em;
                border-style: solid;
                border-color: #535353;
                background-color: rgb(30, 30, 26);
                border-radius: 2px;
                color: #d9e0e7;
            }
            input::placeholder
            {
                color: #d1d4d6;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
            }
            input:hover{
                background-color: #2d2e2f;
            }
            input:focus{
                outline: none;
                border-color: #0c7fda;
            }
            textarea
            {
                border-color: #535353;
                background-color: rgb(30, 30, 26);
                color: #d9e0e7;
            }
            textarea::placeholder
            {
                border-color: #535353;
                color:  #d1d4d6;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
                font-size: small;   
            }

                        /*FOR POST FEED*/
            #home-feed{
                border-top: 2px solid #575656; /* light gray divider */
                padding-top: 0.7em;
                color: #d1d4d6;
                font-weight: bold;
                margin-top: 4em;
                padding-left: 2em;
                position: relative;
                background-color: #2c2c37;
                height: 100%;
                grid-column-start: 2;

            }/*
            #feed{
                padding: 1em;
                position: absolute;
                min-height: 60vh;
                top: 6em;
                bottom: 2em;
                left: 2em;
                right: 2em;
                background-color: white;
                border-radius: 0.7em;
            }*/
            #posts{
                border: 2px solid #f1f6f11f; /*was green*/
            }
            #searchBar{
                padding: 3rem;
                background-color: #2c2c37;
            }
            #search{
                width: 30%;
                padding: 0.7em;
                background-color: rgb(30, 30, 26);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            .addingPost{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                padding: 1em;
                background-color: rgb(249, 243, 243);
                border-radius: 0.7em;
                text-align: center;
                margin: 0 65% 0.2em 0;
                word-break: break-word;
                overflow-wrap: break-word;
            }/*
            .fa fa-home{
                color: white;
            }*/
            .menu-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px; /* space between icon and text */
                color: #ccc;
                font-weight: 500;
                padding: 8px 12px;
                cursor: pointer;
                transition: background 0.2s, color 0.2s;
                
            }

            .menu-item:hover {
                background: #2d2f34; /* dark hover bg */
                color: white;
            }

            .icon{
                font-size: 18px; /* adjust icon size */
                margin-left: 20px;
            }